main div {
    /*background-image: url('/public/background1.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1000px;
    justify-content: center;
    display: flex;
}




main div {
    width: 100%;
    padding: 1.875rem;
    
}

div ul li img {
    width: 12.5rem;
    height: 13.125rem;
}

.areaDeLogin {
    background-color: aqua;
    
}

.areaDeLogin input {
    height: 20px;
}