main div {
    /*background-image: url('/public/background1.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1000px;
    justify-content: center;
    display: flex;
}


