.cadastros5 {
    justify-content: center;
    display: center;
    align-items: center;
    height: 43.75rem;
    width: 31.25rem;
    margin: 6.25rem;
    flex-direction: column;
    border: solid 0.1875rem #FFC125;
}

.cadastros5 div {
    justify-content: center;
    display: center;
    align-items: center;
    height: 43.75rem;
    width: 31.25rem;
    margin: 6.25rem;
    flex-direction: column;

}

.label5 {    
    color: aqua;
    padding-bottom: 0.125rem;
    font-family: "Anta", sans-serif;
}

input {
    padding: 0.25rem;
    margin-bottom: 0.9375rem;
    width: 18.75rem;
    font-family: "Anta", sans-serif;
    border-radius: 0.9375rem;
    text-align: center;
    margin-bottom: 1.25rem;
}

.main5 {
    justify-content: center;
    display: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.titulo5 {
    color: aqua;
    padding-top: 3.125rem;
    font-family: "Anta", sans-serif;
    text-decoration: underline #FFC125;
}

button {
    background-color: aqua;
    border-radius: 1.25rem;
    height: 1.875rem;
    width: 6.25rem;
    justify-content: center;
    margin-top: 1.25rem;
    font-family: "Anta", sans-serif;
    border: solid 0.125rem black;
    
}

button:hover {
    background-color:aquamarine ;
    text-transform: uppercase;
}

button:active {
    background-color: orange;
}