main div {
    /*background-image: url('/public/background1.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1000px;
    justify-content: center;
    display: flex;
}




main div {  
    width: 100%;
    padding: 1.875rem;
    
}

div ul li img {
    width: 12.5rem;
    height: 13.125rem;
}

/* aqui começa a area onde fica os inputs dee login */

.areaDeLogin {
    background-color: aqua;
    flex-direction: column;
    height: 100%;    
    width: 300px;
    display: flex;
    align-items: center;
    
}

.areaDeLogin input {
    height: 20px;
    width: 200px;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}

.carrocel {
    height: 100%;
}

section {
    height: 100%
}


/* esse trecho é o trecho da imagem que fica dentro da areaInput */

h4 {        
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
    color: aqua;
    padding: 0.625rem;
}

strong {       /* aqui manipula todos os textos dentro de strong */
    color: #FFC125;
    font-size: 1.5625rem;
    font-weight: bold;
    font-style: italic;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
}