:root {
    --branco: #fff;
    --escura-800: #191919;
    --cinza-escuro: #363636;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--escura-800);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}